<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Events');
        data.addColumn('number', 'Number of Events');
         data.addRows([

                {% for userEventItem in userEventItems %}
                ['{{ userEventItem.event }}', {{ userEventItem.COUNT }}],
                {%- endfor %}
        ]);
        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<br><div>
    <H1> Welcome {{session['current_user']}} !!!</H1>
    <br/>

    <h2>Stackoverflow User Analytics Tracking</h2>
    <br/>

    Below you will find a link to "stackoverflow" web page, which contains tag for java.
When you open the link, we will start tracking your interaction using a <b>chrome extension</b> with the page for:
        <br>
        <br>
        <b>-</b><i>Upvote event</i>
        (To track the acceptance & knowledge of user)
        <br>
        <br>
        <b>-</b><i>Downvote event</i>
        (To track the disagreement & knowledge of user)
        <br>
        <br>
        <b>-</b><i>Scroll event</i>
        (To track the user's active status based on page quality)
        <br>
        <br>
        <b>-</b><i>Post the answer</i>
        (To track the user's intellect in different domains)
        <br>
        <br>
        <b>-</b><i>Ask a question</i>
        (To track user's current learning interests)
        <br>
        <br>
        <i>{Bonus}</i>
        <b>-</b><i>share the interested tag</i>
        (To track the usefulness/popularity of tags)
        <br>
        <br>
        <i>{Bonus}</i>
        <b>-</b><i>Add to favorite tags</i>
        (To capture user's interests & provide personalization)
        <br>
        <br>
        <i>{Bonus}</i>
        <b>-</b><i>Job search area click</i>
        (To capture user's interests in jobs & recommend more based on that)
        <br>
        <br>
        <br>
<a href="https://stackoverflow.com/questions/tagged/java" target="_blank">Click here to view stackoverflow</a>
<br>
<img src="static/images/image.png"/>
<br>
    <br><br>
    <b><i>VERY IMPORTANT!!</i></b>
    <p> As depicted in the image please click on 1(on the shield icon) followed by 2 (load unsafe scripts) & click on done</p>
    <br><br>

        <i>Why did we decide to log these actions?</i>
        <br>In general we can use this events to <b><i>track user analytics</i></b>, to know  <b><i>the heat map</i></b> of which part of the page is user
    interested, and with the timestamp, we can decide how long the user spends in current page.
    When url changes / user navigates away from the page, we log the new url. With this information
    we know how long user spends in the current page. This helps us in improving  <b><i>the page quality</i></b> so that user
    spends more time on current page & give him /her more of a personalized experience.


    </p>
    <br/>
    {% if sessionInfoItems|length > 0 %}
        <table>
        <tr>
        <th>Last Logged In At</th>
        <th>Last Logged Out At</th>
        </tr>
        {% for sessioninfo in sessionInfoItems %}
        <tr>
            <td>{{sessioninfo.logintime}}</td>
            <td>{{sessioninfo.logouttime}}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    <br>
    <br>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <br>
    <br>
    <a href='/logout'>Logout</a>
    <br>
    <br>

</div>
</body>
</html>