<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
    <style type="text/css">
    .blink {
        -webkit-animation: blink .75s linear infinite;
        -moz-animation: blink .75s linear infinite;
        -ms-animation: blink .75s linear infinite;
        -o-animation: blink .75s linear infinite;
         animation: blink .75s linear infinite;
         font-size: 25px;
    }
    @-webkit-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    @-moz-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    @-ms-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    @-o-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
     // Load Charts and the corechart package.
      function drawRegularPieChart() {

            drawRegularPieCharForCurrentUser();
            drawRegularPieCharForAllUsers();
      }

      var userSelectedEventName = "";
      var groupSelectedEventName = "";

      var isCBOptionSelected = false;

      function drawRegularPieCharForCurrentUser() {
            google.charts.load('current', {'packages':['corechart','controls']});

            // Draw the pie chart for Current user.
            google.charts.setOnLoadCallback(drawChartForCurrentUser);
      }

      function drawRegularPieCharForAllUsers() {
            google.charts.load('current', {'packages':['corechart','controls']});

            // Draw the pie chart for all users.
            google.charts.setOnLoadCallback(drawChartForAllUsers);

      }

      function getOptionsForChart(inputTitle, is3DOption) {
            var options = {
                title: inputTitle,
                width:700,
                height:600,
                is3D:is3DOption
            };

            return options;
      }

      function getDataForCurrentUser() {
             var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Events');
                    data.addColumn('number', 'Number of Events');
                    data.addRows([
                            {% for userEventItem in userEventItems %}
                                ['{{ userEventItem.event }}', {{ userEventItem.COUNT }}],
                            {%- endfor %}
                    ]);

             return data;
      }

      function getDataForAllUsers() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Events');
            data.addColumn('number', 'Number of Events');
            data.addRows([
                   {% for allEventItem in allUserEvents %}
                   ['{{ allEventItem.event }}', {{ allEventItem.COUNT }}],
                   {%- endfor %}
            ]);

            return data;
      }

      function getDataForAllUsersForAvg() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Events');
            data.addColumn('number', 'Current User Contribution');
            data.addColumn('number', 'System Average for each event');
            data.addRows([
                   {% for eventItem in allUserEventsAvg %}
                   ['{{ eventItem.event }}', {{ eventItem.current_usercount }}, {{eventItem.avg_count}}],
                   {%- endfor %}
            ]);

            return data;
      }



      function drawChartForCurrentUser() {
            var data = getDataForCurrentUser();
            var options = getOptionsForChart('My Activities', false);

            var chart = new google.visualization.PieChart(document.getElementById('piechart_user'));

            // The select handler. Call the chart's getSelection() method
            function selectHandlerUser() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    var value = data.getValue(selectedItem.row, 0);
                    userSelectedEventName = value;
                }

                drawTimeGraphForUser();
            }

            // Listen for the 'select' event, and call my function selectHandler() when
            // the user selects something on the chart.
            google.visualization.events.addListener(chart, 'select', selectHandlerUser);

            chart.draw(data, options);
      }

      function drawTimeGraphForUser() {
            google.charts.load('current', {'packages':['corechart','controls']});

            // Draw the bar chart for Current user.
            google.charts.setOnLoadCallback(drawTimeGraphForUserInternal);
      }

      function drawTimeGraphForUserInternal() {
           $.post("/getTimeGraphDataForUser",userSelectedEventName, function(jsonData){

           // Create our data table out of JSON data loaded from server.
           var data = new google.visualization.DataTable(jsonData);

           var options = getOptionsForChart(userSelectedEventName, false);

           var chart = new google.visualization.ColumnChart(document.getElementById('piechart_user'));
           chart.draw(data, options);

           document.getElementById('userGoBackBtn').style.display = "block";

           });
      }

      // Callback that draws the pie chart for All Users
      function drawChartForAllUsers() {
            var data = getDataForAllUsers();
            var options = getOptionsForChart('All user activities', false);
            var chart = new google.visualization.PieChart(document.getElementById('piechart_group'));

            // The select handler. Call the chart's getSelection() method
            function selectHandlerGroup() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    var value = data.getValue(selectedItem.row, 0);
                    groupSelectedEventName = value;
                }

                drawTimeGraphForGroup();
            }

            // Listen for the 'select' event, and call my function selectHandler() when
            // the user selects something on the chart.
            google.visualization.events.addListener(chart, 'select', selectHandlerGroup);

            chart.draw(data, options);
      }

      function drawTimeGraphForGroup() {
            google.charts.load('current', {'packages':['corechart','controls']});

            // Draw the bar chart for Current user.
            google.charts.setOnLoadCallback(drawTimeGraphForGroupInternal);
      }

      function drawTimeGraphForGroupInternal() {
           $.post("/getTimeGraphDataForGroup",groupSelectedEventName, function(jsonData){

           // Create our data table out of JSON data loaded from server.
           var data = new google.visualization.DataTable(jsonData);

           var options = getOptionsForChart(groupSelectedEventName, false);

           var chart = new google.visualization.ColumnChart(document.getElementById('piechart_group'));
           chart.draw(data, options);

           document.getElementById('grpGoBackBtn').style.display = "block";

           });
      }

      function drawTableForAllUsers() {
          google.charts.load('current', {'packages':['table']});
          google.charts.setOnLoadCallback(drawTableForAllUsersInternal);
      }

      function drawTableForAllUsersInternal() {
            var data = getDataForAllUsersForAvg();
            var table = new google.visualization.Table(document.getElementById('table_all_users'));
            table.draw(data, {showRowNumber: true, width: '50%', height: '30%'});
      }

      function drawBarGraphForUserForColorChallenged() {
            google.charts.load('current', {'packages':['corechart','controls']});

            // Draw the pie chart for Current user.
            google.charts.setOnLoadCallback(drawBarGraphForUserForColorChallengedInternal);
      }

      function drawBarGraphForUserForColorChallengedInternal() {
            var data = getDataForCurrentUser();
            var options = getOptionsForChart('My Activities', false);

            var chart = new google.visualization.BarChart(document.getElementById('piechart_user'));

            // The select handler. Call the chart's getSelection() method
            function selectHandlerUser() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    var value = data.getValue(selectedItem.row, 0);
                    userSelectedEventName = value;
                }

                drawTimeGraphForUser();
            }

            // Listen for the 'select' event, and call my function selectHandler() when
            // the user selects something on the chart.
            google.visualization.events.addListener(chart, 'select', selectHandlerUser);

            chart.draw(data, options);
      }

      function drawBarGraphForGroupForColorChallenged() {
            google.charts.load('current', {'packages':['corechart','controls']});

            // Draw the pie chart for Current user.
            google.charts.setOnLoadCallback(drawBarGraphForGroupForColorChallengedInternal);
      }

      function drawBarGraphForGroupForColorChallengedInternal() {
          var data = getDataForAllUsers();
          var options = getOptionsForChart('All user activities', false);
          var chart = new google.visualization.BarChart(document.getElementById('piechart_group'));

          // The select handler. Call the chart's getSelection() method
          function selectHandlerGroup() {
              var selectedItem = chart.getSelection()[0];
              if (selectedItem) {
                  var value = data.getValue(selectedItem.row, 0);
                  groupSelectedEventName = value;
              }

              drawTimeGraphForGroup();
          }

          // Listen for the 'select' event, and call my function selectHandler() when
          // the user selects something on the chart.
          google.visualization.events.addListener(chart, 'select', selectHandlerGroup);

          chart.draw(data, options);
      }

    </script>
    <script type="text/javascript">
        drawRegularPieChart();
        drawTableForAllUsers();
    </script>
    <script type="text/javascript">

    function hideTablesAndShowPieGraphs() {
         var all_table = document.getElementById('all_table');
         all_table.style.display = "none";

         var pie_graph = document.getElementById('Social_Graph');
         pie_graph.style.display = "block";
    }

    </script>
</head>
<body>
<br><div>
    <H1> Welcome {{session['current_user']}} !!!</H1>
    <br/>

    <h2>Stackoverflow User Analytics Tracking</h2>
    <br/>

    Below you will find a link to "stackoverflow" web page, which contains tag for java.
When you open the link, we will start tracking your interaction using a <b>chrome extension</b> with the page for: upvote, downvote,post answer,ask question, add to favorites,tag share etc.,
        <br>
        <br>

        <br>
        <br>
        <br>
<a href="https://stackoverflow.com/questions/tagged/java" target="_blank">Click here to view stackoverflow</a>
<br>
<img src="static/images/image.png"/>
<br>
    <br><br>
    <b><i>VERY IMPORTANT!!</i></b>
    <p> As depicted in the image please click on 1(on the shield icon) followed by 2 (load unsafe scripts) & click on done</p>
    <br><br>

        <i>Why did we decide to log these actions?</i>
        <br>In general we can use this events to <b><i>track user analytics</i></b>, to know  <b><i>the heat map</i></b> of which part of the page is user
    interested, and with the timestamp, we can decide how long the user spends in current page.
    When url changes / user navigates away from the page, we log the new url. With this information
    we know how long user spends in the current page. This helps us in improving  <b><i>the page quality</i></b> so that user
    spends more time on current page & give him /her more of a personalized experience.
    <br>
    <br>
    <br>
    <script type="text/javascript">
        function onGraphViewSelectChanged() {
             var selectItem = document.getElementById( "graph_view_selection" );
             var selectedItemValue = selectItem.options[ selectItem.selectedIndex ].value;

             if (selectedItemValue === "1")
             {
                isCBOptionSelected = true;
                drawBarGraphForUserForColorChallenged();
                drawBarGraphForGroupForColorChallenged();
             }
             else
             {
                isCBOptionSelected = false;
                drawRegularPieChart();
             }
        }
    </script>
        <p class="tab blink">{BONUS} Attention viewers with color vision deficiency (Color Blindness) </p>
    <h3>Select the Graph View options</h3>
    <select onchange="onGraphViewSelectChanged()" id="graph_view_selection">
            <option value="0">Polychromatic Graph(s)</option>
            <option value="1">Monochromatic Graph(s)</option>
    </select>
    <br>
    <br>
    <br>
    <h2> Analysis and findings</h2>
    <p>
    <b>•	Analysis 1: Event distribution of user vs group. User & Group's most/least performed activity</b>
        o	In pie graph (labelled as social visualization of all events), we can determine the activity distributions of the current user and all users in system on the whole. This split of activities helps us understand the user's likes & dislikes (by observing the percentage of activities performed). This may not be the same as the group's most/least interested activity. Also, group's activities can cause the user to understand all user activities' over his distribution and might also get him/her curious to check the group's most interested event in future (driving force) in case he/she has not dealt with it before.
        <br>
        <br>

        <br>
        <br>
        o	Findings in Our System:
            Consider user 'bbb'. Most performed event is page sharing (very high %). Least performed events (lowest %) are ask a question and post answer to question. On the other hand all user activities shows upvotes to be the most performed event and ask question event to be the least performed event. Hence, user bbb might get motivated to use the upvote option in next few sessions.
        <br>
        <br>
    <b>•	Analysis 2: User contributions based on system average for each event</b>
        o	The tabular format (Contributions data) - This visualization gives a greater insight into understanding the user's contributions with the help of "system average for each event" that is computed using (total number of event occurrences / number of users).If the user's event occurrences for a particular event is way beyond the average computed it can be concluded that the current user is a great contributor to this event amongst several users in system. It also gives a high-level idea on how all the individuals contributions in the system might look like when compared to his own for each event.
        <br>
        <br>
        o	For example, if the user is answering a lot of questions when compared to other users he/she can be a knowledgeable one & can be asked to do more of it. This user can also be given additional perks (Badges etc.,) which might serve as a motivational factor
        <br>
        <br>
        o	Findings in our system:
        Consider user 'ccc'. The system average for upvote event is around 6. However, ccc alone has performed 51 upvotes. Hence ccc is a great contributor to this event & can be given more questions for assessment (upvote/downvote)
        <br>
        <br>
    <b>•	Analysis 3: User's & Group's active hours on system (Event wise)</b>

    </p>

    <br>
    <br>
    <h3>Visual Representation of User Events</h3>
    <select onchange="onSelectChanged()" id="chart_select">
        <option value="0">Social Visualization of all events</option>
        <option value="1">Contributions data</option>
    </select>
    <div id="Social_Graph">
    <table class="columns">
      <tr>
         <td>
            <div id="piechart_user" ></div>
                <button type="button" id="userGoBackBtn" onclick="onUserGoBackBtnClicked()" value="userGoBackBtn!">Go Back to chartview</button>
         </td>
         <td>
            <div id="piechart_group"></div>
                <button type="button" id="grpGoBackBtn" onclick="onGroupGoBackBtnClicked()" value="grpGoBackBtn!">Go Back to chartview</button>
         </td>
      </tr>
    </table>
    </div>
    <div id="all_table">
        <h3>An insight into user contributions against system</h3>
        <div id="table_all_users"></div>
    </div>

    <script type="text/javascript">
       hideTablesAndShowPieGraphs();
       document.getElementById('userGoBackBtn').style.display = "none";
       document.getElementById('grpGoBackBtn').style.display = "none";
    </script>
    <script type="text/javascript">
        function onUserGoBackBtnClicked() {
             document.getElementById('userGoBackBtn').style.display = "none";
             if (isCBOptionSelected)
             {
                drawBarGraphForUserForColorChallenged();
             }
             else
             {
                drawRegularPieCharForCurrentUser();
             }
        }

        function onGroupGoBackBtnClicked() {
            document.getElementById('grpGoBackBtn').style.display = "none";
             if (isCBOptionSelected)
             {
                drawBarGraphForGroupForColorChallenged();
             }
             else
             {
                drawRegularPieCharForAllUsers();
             }
        }

        function onSelectChanged() {
            var selectItem = document.getElementById( "chart_select" );
            var selectedItemValue = selectItem.options[ selectItem.selectedIndex ].value;
            switch (selectedItemValue)
            {
                case '0':
                document.getElementById('all_table').style.display = "none";
                document.getElementById('Social_Graph').style.display = "block";
                break;

                case '1':
                document.getElementById('all_table').style.display = "block";
                document.getElementById('Social_Graph').style.display = "none";
                break;
            }
        }
    </script>
    <br>
    <br>
    <a href='/logout'>Logout</a>
    <br>
    <br>

</div>
</body>
</html>