<html>
<head>
	<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br/>
				<br/>
			</div>
		</div>
	</div>
	<p align="center"><a href="/signup" class="login-link">Click here to register new user</a></p>
</form>
<br/>

{% endif %}
{% endblock %}
</body>
</html>