<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<form action="/signup" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h2>Sign Up New User</h2>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <div class="control-group">
				<input type="password" class="login-field" value="" placeholder="confirm password" name="confirm-password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Create" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
	<p align="center" class="status-msg">{{session['user_creation_status_message']}}</p>
	<br/>
	<p align="center"><a href="/" class="login-link">Click here to go back to login screen</a></p>
</form>

{% endif %}
{% endblock %}